---
# Log level of the application
logLevel: "info"

# Port for the metrics server
port: 8080
# Name of the instance, used to label metrics. Defaults to hostname when empty
instance: ""
# Time for which the last speedtest result will be cached.
# Also used for the interval in which remote_write is invoked when enabled
cache: "5m"
# Disable persisting the cache to disk by setting this to false
persistCache: true
# When not empty, tells the exporter to use an external speedtest-cli binary instead of using go-native implementation
speedtestCLI: ""
# Configure remote_write behaviour
remote:
  # Enable remote write, when false this part of the config will be ignored
  enable: false
  # URL to prometheus remote_write endpoint
  url: ""
  # Overwrite the instance label for remote write.
  instance: ""
  # Name of job under which metrics will be pushed
  jobName: "speedtest-exporter"
  # Username and password for Basic Authentication. Leave empty when not required
  username: ""
  password: ""
